{
  "gh_ssh_alias": "github-alias",
  "gh_user": "mozillalabs-syncer",
  "gh_token": "vewy_vewy_sekret",
  "gh_tgt_acct": "mozillalabs",
  "repos": {         
  "bespin": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/bespin",
    "homepage": "http://mozillalabs.com"
  },
  "bespinclient": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/bespinclient",
    "homepage": "http://mozillalabs.com"
  },
  "bespinserver": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/bespinserver",
    "homepage": "http://mozillalabs.com"
  },
  "jetpack": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/jetpack",
    "homepage": "http://mozillalabs.com"
  },
  "jetpack-sdk": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/jetpack-sdk",
    "homepage": "http://mozillalabs.com"
  },
  "jsmodules": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/jsmodules",
    "homepage": "http://mozillalabs.com"
  },
  "people": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/people",
    "homepage": "http://mozillalabs.com"
  },
  "personas": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/personas",
    "homepage": "http://mozillalabs.com"
  },
  "raindrop": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/raindrop",
    "homepage": "http://mozillalabs.com"
  },
  "snowl": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/snowl",
    "homepage": "http://mozillalabs.com"
  },
  "tabcandy": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/tabcandy",
    "homepage": "http://mozillalabs.com"
  },
  "testpilot": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/testpilot",
    "homepage": "http://mozillalabs.com"
  },
  "testpilot-analysis": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/testpilot-analysis",
    "homepage": "http://mozillalabs.com"
  },
  "testpilotweb": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/testpilotweb",
    "homepage": "http://mozillalabs.com"
  },
  "th": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/th",
    "homepage": "http://mozillalabs.com"
  },
  "weave-backup": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/weave-backup",
    "homepage": "http://mozillalabs.com"
  },
  "weave-identity": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/weave-identity",
    "homepage": "http://mozillalabs.com"
  },
  "weaveclient-python": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/weaveclient-python",
    "homepage": "http://mozillalabs.com"
  },
  "weaveserver-identity": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/weaveserver-identity",
    "homepage": "http://mozillalabs.com"
  },
  "weaveserver-obsolote": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/weaveserver-obsolote",
    "homepage": "http://mozillalabs.com"
  },
  "weaveserver-openid": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/weaveserver-openid",
    "homepage": "http://mozillalabs.com"
  },
  "weaveweb": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/weaveweb",
    "homepage": "http://mozillalabs.com"
  },
  "webfinger-addon": {
  "desc": "sample desc",
    "src": "http://hg.mozilla.org/labs/webfinger-addon",
    "homepage": "http://mozillalabs.com"
  }
 }
}
